
    <!-- main navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="mainNav">
        <a class="navbar-brand"  [routerLink]="['/home']" (click)="ngOnInit()">Start Wandering</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu<i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="userLoggedIn">
                    <span class="nav-link" >Welcome {{userName}}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/packages']">Hot Deals</a>
                </li>
                <li class="nav-item" *ngIf="!userLoggedIn">
                    <a class="nav-link" [routerLink]="['/login']">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/viewBookings']">Planned Trips</a>
                </li>
                <li class="nav-item" *ngIf="userLoggedIn">
                    <a class="nav-link" (click)="confirm()">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- all the components are loaded here -->
    <router-outlet></router-outlet>

    <!-- code for logout confirmation box here-->
    

    <!-- Footer -->
    <footer class="bg-black text-center text-white-50">
        Copyright &copy; www.eta.wanderlust.com 2018
    </footer>



